.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/imgs/Casa-Papai-Noel.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 50vh;
    width: 100%;
    margin-top: 72px;

    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner > * {
    z-index: 3;
    position: relative;
}