.btn { 
    display: inline-block; 
    cursor: pointer;
    width: 120px;
    background: #16A249; 
    color: #fff; 
    padding: 10px 14px; 
    border-radius: 8px; 
    font-weight: 700; 
    color: white;
    border: 1px solid #eaeaea;
    transition: .2s ease-in-out;
}

.btn:hover { 
    filter: brightness(1.05); 
}

.btn.secundario { 
    background: #e9ecff; 
    color: #16A249; 
}

.btn.pequeno { 
    padding: 8px 10px; 
    font-size: 14px; 
}