.event-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.status {
    background-color: var(--cor-primaria);
    border-radius: 16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-top: 4px;
    width: 92px;
}

.status p {
    color: white;
    font-weight: bold;
    text-align: center;
}