footer h2, footer p {
  color: white;
}

footer {
  background-color: #21262C;
  padding: 16px;
  display: flex;
  color: white;
}

footer .container > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: white;
}

.suggestion-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: white;
}

.suggestion-section h2 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}

.suggestion-section p {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
}

.suggestion-section .form-suggestion {
  background: #ffffff;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  width: 100%;
  padding: 16px;
  font-size: 16px;
  color: #21262C;
  border-radius: 8px;
  background-color: #16A2491A;
  border: 1px solid rgba(0, 93, 34, 0.1);
  outline: none;
}

.suggestion-section .form-suggestion button {
  height: 52px;
}

.about-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: white;
}

.about-section .about-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  color: white;
}

.about-links h2 {
  margin-bottom: 16px;
  color: white;
}

.about-links .item-link a {
  display: flex;
  gap: 8px;
  color: white;
  cursor: pointer;
}

.about-links .item-link:not(:last-child) {
  margin-bottom: 12px;
}

.cc {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  color: #FAFAFA;
  color: white;
  font-weight: 400;
}

.cc p{
  width: 100%;
  text-align: center;
  color: white;
}

hr {
  margin: 32px 0;
  color: white;
}

.logo-uberlandia {
    height: 50px;
    width: auto;  
}

.logo-addev {
    height: 50px;
    width: auto;
}

footer .btn {
  width: 100%;
}

@media (min-width: 1024px) {
  footer .container > div {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .suggestion-section,
  .about-section {
    width: 48%;
  }

  .about-section div {
    justify-content: flex-start;
  }
}