.hero {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-direction: column;
}

.title {
    border-bottom: 3px solid var(--cor-primaria-escura);
}

.item-hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    flex-direction: column;
    text-align: center;
}

.item-hero:hover {
    border-color: var(--cor-primaria);
    box-shadow: 0 2px 8px rgba(22, 162, 73, 0.15);
}

.item-hero span {
    font-weight: medium;
    color: #000000;
}

.background-icon-hero {
    padding: 8px;
    background-color: var(--cor-primaria-leve);
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    font-weight: medium;
}

.menu-hero {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

@media (min-width: 768px) {
  .menu-hero {
        display: flex;
        justify-content: flex-start;
        gap: 16px;
    }

    .item-hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    width: 100%;
    flex-direction: column;
    cursor: pointer;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    background-color: white;
    transition: all 0.3s ease;
}
}