.hero {
    gap: 24px;
}

.title-hero {
    border-bottom: 4px;
    border-color: var(--cor-primaria-leve);
}

.item-hero {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    flex-direction: row;
}

.item-hero span {
    font-weight: medium;
    color: #000000;
}

.background-icon-hero {
    padding: 8px;
    background-color: var(--cor-primaria-leve);
    border-radius: 24px;
}

span {
    font-weight: medium;
}

.menu-hero {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
}