.inicio-reforma {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.galery{
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px; 
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.inicio-reforma img {
    display: block;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    object-fit: cover;
}

p {
    color: #65758B;
}

.galery::-webkit-scrollbar {
    display: none;
}

.inicio-sobre {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.inicio-eventos {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

