.inicio-reforma {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.galery{
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px; 
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.inicio-reforma img {
    display: block;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    object-fit: cover;
}

p {
    color: #65758B;
}

.galery::-webkit-scrollbar {
    display: none;
}

.inicio-sobre {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.timeline {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.background-date {
    background-color: var(--cor-primaria);
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.background-date p {
    color: white;
    font-weight: bold;
}

.card {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    flex-direction: column;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    background-color: white;
    transition: all 0.3s ease;
}

.inicio-eventos {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

